body, html {
    background-image: url("/assets/map.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    display: flex;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0, 5em;
    /* background-attachment: fixed; */
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
}

.card-div {
    position: relative;
    width: 100%;
}

.myInput {
    background-color: black;
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.hide {
    display: none !important;
}